#disabled-button-wrapper {
  display: inline-block;
  cursor: not-allowed;
}

#disabled-button-wrapper .btn[disabled] {
  pointer-events: none;
}

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.aeon_request_selector_modal {
  text-align: left;
}

.aeon_request_type_wrapper {
  margin: 2em auto;
  width: 25em;
}

button.aeon_request_type_selector {
  width: 100%;
}

#aeon_request_selector_modal table label {
  margin: 0;
}

#aeon_request_selector_modal table label {
  margin: 0;
}


button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;

}
.modal-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.modal-header .modal-title {
  margin: 0 !important;
  text-align: left !important;
  flex-grow: 1;
}

.modal-header .close {
  margin-left: auto !important;
  order: 2;
}

